<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated devops2 -->
      <package
            uri="http://www.example.org/devops2"
            class="devops2.Devops2Package"
            genModel="model/devops2.genmodel"/>
   </extension>

</plugin>
